
<div id="header-image">
    <img src="../../Images/page/roses.png" alt="Smell the roses of the world." />
</div>

<div id="schedule-dialog">
    <div id="page-content">
        <section id="content">
            <div id="content-container">
                <h3>Schedule an Appointment</h3>
                <p>To schedule an individual, children, couples, marriage or family therapy appointment or to obtain additional information about any of these counseling services, please fill out the form below.</p>
                <br />


                <div id="information">
                    <table id="general-info">
                        <tr>
                            <td style="font-style:italic;">Date & Time: </td>
			                <td>    
                                <input type="text" id="datepicker" />
			                    <input type="text" id="timepicker" />
                            </td>
                        </tr>
                        
                        <tr>
                            <td style="font-style:italic;">Firstname: </td>
                            <td><input id="first" type="text" maxlength="128" style="width:98%;" required="required"/></td>
                        </tr>
                        <tr>
                            <td style="font-style:italic;">Lastname: </td>
                            <td><input id="last" type="text" maxlength="128" style="width:98%;" required="required"/></td>
                        </tr>
                        <tr>
                            <td style="font-style:italic;">Phone: </td>
                            <td><input id="phone" type="tel" maxlength="128" style="width:98%;" required="required"/></td>
                        </tr>
                        <tr>
                            <td style="font-style:italic;">Email: </td>
                            <td><input id="email" type="email" maxlength="128" style="width:98%;" required="required"/></td>
                        </tr>
                        <tr>
                            <td style="font-style:italic; vertical-align:middle;">Your concerns:</td>
                            <td><textarea name="TextMessage" rows="7" cols="70"></textarea></td>
                        </tr>
                    </table>
                </div>
                <br />
                <table id="payinfo">
                    <tr>
                        <td>
                            <h3 style="float:left;">Pay as you go:</h3>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>$65 USD per forty-five minute phone or video session.</li>
                                <li>$45 USD per thirty minute instant messaging chat session.</li>
                                <li>$25 USD for three comprehensive e-mail exchanges.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="WT4HPPXTS6774">
                            <table>
                                <tr><td><input type="hidden" name="on0" value="Options">Options</td></tr><tr><td><select name="os0">
	                                <option value="45 min phone/video session">45 min phone/video session $65.00 USD</option>
	                                <option value="30 min IM chat session">30 min IM chat session $45.00 USD</option>
	                                <option value="3 emails">3 emails $25.00 USD</option>
                                </select> </td></tr>
                            </table>
                            <br />
                            <input type="hidden" name="currency_code" value="USD">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>
                            <h3 style="float:left;">Pay by the month with automatic payments:</h3>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>$200 USD per month for one forty-five minute phone or video session a week.</li>
                                <li>$160 USD per month for one thirty minute instant messaging chat session per week.</li>
                                <li>$130 USD per month for ten comprehensive e-mail exchnages.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="9JTHECSBALG3U">
                                <table>
                                    <tr><td><input type="hidden" name="on0" value="Options">Options</td></tr><tr><td><select name="os0">
	                                    <option value="45 min phone/video session each week">45 min phone/video session each week : $200.00 USD - monthly</option>
	                                    <option value="30 min IM chat session per week">30 min IM chat session per week : $160.00 USD - monthly</option>
	                                    <option value="10 email per month">10 email per month : $130.00 USD - monthly</option>
                                    </select> </td></tr>
                                </table>
                                <br />
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form>
                        </td>
                    </tr>
                </table>
                <br />
                <div id="insurance">
                    <h3>Insurance</h3>
                    <p>
                        Services may be covered in full or in part by your health insurance or employee benefit plan, however, Tao-of-T accepts PayPal or major credit cards only.   A reciept will be provided so you can request reimbursement from your insurance company.
                    </p>
                </div>
                <br />
                <div id="cancelpolicy">
                    <h3>Cancellation Policy</h3>
                    <p>If you do not show up for your scheduled therapy appointment, and you have not notified us at least 24 hours in advance, you will be required to pay the full cost of the session.</p>
                </div>
                <br />
                <div id="contact">
                    <h3>Contact</h3>
                    <p>Questions? Please contact <a href="mailto:ttirona@tao-of-t.com">me</a> for further information.</p>
                </div>

            </div>
        </section>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#datepicker").datepicker({ minDate: 0 });
        $("#timepicker").timepicker({
            // custom hours and minutes
            hours: {
                starts: 8,                // First displayed hour
                ends: 20                  // Last displayed hour
            },
            minutes: {
                starts: 0,                // First displayed minute
                ends: 45,                 // Last displayed minute
                interval: 15               // Interval of displayed minutes
            }
        });
    });

</script>
