@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="header-image">
    <img src="../../Images/page/yourlifeatbest.png" alt="Your life at it's BEST" />
</div>

<div id="page-content">
    <section id="content">
        <div id="content-container">            
            <h2>About Me</h2>
            <br />
            <p>Hello, I am a Licensed Professional Counselor specializing in individual, couples and family therapy.   I specialize in building and restoration of self, teen crisis intervention, relationship counseling, and various mental health issues such as </p>
            <ul>
                <li>Self-esteem</li>
                <li>Aspergers Syndrome</li>
                <li>Anxiety and depression</li>
                <li>Stress Management</li>
                <li>Sexual orientation</li>
            </ul>
            <p>If you are looking for a positive, strength-based, solution-focused approach to resolving crises, challenges and conflicts, or just assistance getting through the day, contact me. I can offer you prompt attention, effective interventions, understanding, and support. I know that your time and money are important to you. You can count on me to provide direct, honest feedback to help you quickly overcome challenges in your life so you can live a life you enjoy! With compassion and understanding, we will work together to build upon your strengths and attain the personal growth you are committed to accomplishing.</p>
            <br/>
            <h3>Education</h3>
            <ul>
                <li>Masters in Arts, Psychology, Regis University 2004</li>
            </ul>  
            <h3>License</h3>
            <ul>
                <li>Co Licensed Professional Counselor, LPC 4450</li>
            </ul>
            <h3>Additional Training</h3>
            <ul>
                <li>Counseling Reactive Attachment Disorder, 2012</li>
                <li>EMDR I and II 2008</li>
                <li>MultiSystemic Therapy Training, Colorado MultiSystemic Therapy Support Services, Denver, 2004, 2006</li>
                <li>Vicarious Trauma, CMHS, Denver, 2003</li>
                <li>Community Recovery Project, Crisis Counseling, FEMA, Colorado Springs, 2002</li>
                <li>Seven Habits of Highly Effective People, Colorado Springs, CO, 1995</li>
                <li>U.S. Army, Basic Non-Commissioned Officer Leadership Course, Ft.Hood, TX, Certificate of Training, 1987</li>
            </ul>
            <h3>Professional Activities and Memberships</h3>
            <ul>
                <li>National Indian Child Welfare Association</li>
                <li>Professional  membership in the American Counseling Association</li>
            </ul>
        </div>
    </section>

</div>



         


 

  

 



