@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="appointment-container">
    <div id="calendar"></div>
</div>

<script>
    $(document).ready(function () {

        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
            events: 'https://www.google.com/calendar/feeds/tmtirona%40gmail.com/public/basic',
        dayClick: function() {
                alert('a day has been clicked!');
            }
        })
    });
</script>
