@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="header-image">
    <img src="../../Images/page/book.png" alt="Life is an open book." />
</div>

<div id="page-content">
    <section id="content">
        <div id="content-container">            
            <div id="calendar"></div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function () {

        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
            events: 'https://www.google.com/calendar/feeds/tmtirona%40gmail.com/public/basic',
        dayClick: function() {
                alert('a day has been clicked!');
            }
        })
    });
</script>
