@model tao_of_t.Viewmodel.HomeViewmodel

@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="header-image">
    <img src="../../Images/page/book.png" alt="Life is an open book." />
</div>

<div id="page-content">
    <section id="content">
        <div id="content-container">            
            <div id="calendar"></div>
        </div>
    </section>
</div>

<script>

    $(document).ready(function () {

        $('#calendar').fullCalendar({
            events: '@Model.GoogleCalendarUrl',
            dayClick: function () {
                alert('a day has been clicked!');
            }
        })
    });

    $("#page-content").resize(function () {
        alert("resize");
        var h = $("#page-content").height();
        $("#left-bottom").addClass("left-bottom").height(h - 278);
    });

</script>
