
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home">
    <section id="slideshow">
        @Html.Partial("SlideShow")
    </section>

    <section id="content">
        <div id="content-container">
            <h2>Welcome</h2>
            <br />
            <p>Today you are one step closer to a new you where you feel empowered and on a positive path to growth and well-being.</p>
            <br />
            <p>As a solution-focused therapist, my goal is to help you uncover your true potential and lead a life that is worth celebrating. While we can't change difficult situations of the past, we can work together to better understand and resolve challenges in your life. By applying complementary therapy approaches and techniques, we will unearth long-standing behavior patterns or negative perceptions that may be holding you back from experiencing a more fulfilling and meaningful life.</p>
            <br />
            <p>If you're looking for extra support and guidance through a challenging situation or you're just ready to move in a new direction in your life, I look forward to working with you to achieve your goals.</p>
            <br />
            <p>Please email me for a counseling consultation today.</p>
        </div>
    </section>

</div>
