
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home">
    <section id="slideshow">
        @Html.Partial("SlideShow")
    </section>

    <section id="content"></section>
</div>
