@{
    ViewBag.Title = "LinksResources";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="header-image">
    <img src="~/images/page/shareyourlight.png" alt="Share your LIGHT!" />
</div>

<div id="page-content">

    <section id="content">
        <div id="content-container">            
            <h2>Mental Health Links</h2>
            <br />
            <p>The following links are listed to provide you with additional online mental health care information and  counseling resources.</p>
            <br />
            <h3>Addiction and Recovery</h3>
            <ul>
                <li><a href="http://www.alcoholics-anonymous.org/" target="_blank" class="font-18">Alcoholics Anonymous</a></li>
                <li><a href="http://www.careflorida.com/learn_about-_addiction_and_drug-recovery/helpful-articles/aa-recovery-resources.html" target="_blank" class="font-18">Alcoholics Anonymous Recovery Resources</a></li>
                <li><a href="http://netaddiction.com/" target="_blank" class="font-18">Center for On-Line Addiction</a></li>
                <li><a href="http://www.recoveryconnection.org/drug-alcohol-addiction-recovery-guides/" target="_blank" class="font-18">Drug and Alcohol Recovery Guides</a></li>
                <li><a href="http://www.recoveryconnection.org/the-twelve-steps-of-recovery-infographic/" target="_blank" class="font-18">Infographic: The Twelve Steps of Recovery</a></li>
                <li><a href="http://www.recoveryconnection.org/drug-abuse-and-your-body-exposed-infographic/" target="_blank" class="font-18">Infographic: Drug Abuse and your Body: Exposed</a></li>
                <li><a href="http://www.samhsa.gov/prevention/" target="_blank" class="font-18">SAMHSA's Substance Abuse/Addiction</a></li>
                <li><a href="http://www.samhsa.gov/treatment/" target="_blank" class="font-18">SAMHSA's Treatment and Recovery</a></li>
                <li><a href="http://www.well.com/user/woa/" target="_blank" class="font-18">Web of Addictions</a></li>
            </ul>
            <h3>Anxiety Disorders</h3>
            <ul>
                <li><a href="http://www.apa.org/pubinfo/panic.html" target="_blank" class="font-18">Answers to Your Questions About Panic Disorder </a></li>
                <li><a href="http://www.ncptsd.va.gov/" target="_blank" class="font-18">National Center for PTSD</a></li>
                <li><a href="http://www.miminc.org/aboutocic.asp" target="_blank" class="font-18">Obsessive Compulsive Information Center</a></li>
                <li><a href="http://www.calmclinic.com" target="_blank" class="font-18">Calm Clinic</a></li>
            </ul>
            <h3>Associations &amp; Institutes</h3>
            <ul>
                <li><a href="http://www.aacap.org/" target="_blank" class="font-18">American Academy of Child &amp; Adolescent Psychiatry</a></li>
                <li><a href="http://www.aamft.org/" target="_blank" class="font-18">American Association for Marriage and Family Therapy</a></li>
                <li><a href="http://www.counseling.org/" target="_blank" class="font-18">American Counseling Association</a></li>
                <li><a href="http://www.psych.org/" target="_blank" class="font-18">American Psychiatric Association</a></li>
                <li><a href="http://www.apa.org/" target="_blank" class="font-18">American Psychological Association</a></li>
                <li><a href="http://www.cmha.ca/" target="_blank" class="font-18">Canadian Mental Health Association</a></li>
                <li><a href="http://www.nimh.nih.gov/" target="_blank" class="font-18">National Institute of Mental Health</a></li>
                <li><a href="http://www.nmha.org/" target="_blank" class="font-18">National Mental Health Association</a></li>
                <li><a href="http://www.samhsa.gov/" target="_blank" class="font-18">Substance Abuse and Mental Health Services Administration</a></li>
            </ul>
            <h3>Attention-Deficit Hyperactivity Disorder</h3>
            <ul>
                <li><a href="http://www.add.org/" target="_blank" class="font-18">ADDA - Attention Deficit Disorder Association</a></li>
                <li><a href="http://www.nimh.nih.gov/health/topics/attention-deficit-hyperactivity-disorder-adhd/index.shtml" target="_blank" class="font-18">Attention-Deficit Hyperactivity Disorder, NIMH</a></li>
                <li><a href="http://borntoexplore.org/" target="_blank" class="font-18">Born to Explore: The Other Side of ADD/ADHD</a></li>
            </ul>
            <h3>Child Abuse and Domestic Violence</h3>
            <ul>
                <li><a href="http://www.childhelp.org/" target="_blank" class="font-18">Childhelp USA&reg;</a></li>
                <li><a href="http://www.samhsa.gov/families/index.aspx" target="_blank" class="font-18">SAMHSA's Children and Families</a></li>
                <li><a href="http://www.apa.org/topics/trauma/memories.aspx" target="_blank" class="font-18">Questions and Answers about Memories of Childhood Abuse</a></li>
                <li><a href="http://www.ndvh.org/" target="_blank" class="font-18">The National Domestic Violence Hotline Website</a></li>
                <li><a href="http://mentalhealth.samhsa.gov/links/default2.asp?ID=Women%2C+Violence+and+Trauma&Topic=Women%2C+Violence+and+Trauma" target="_blank" class="font-18">Women, Violence and Trauma</a></li>
            </ul>
            <h3>Chronic Fatigue</h3>
            <ul>
                <li><a href="http://www.cdc.gov/cfs/" target="_blank" class="font-18">Chronic Fatigue Syndrome</a></li>
            </ul>
            <h3>Depression</h3>
            <ul>
                <li><a href="http://www.pendulum.org/" target="_blank" class="font-18">Bipolar Disorder News - Pendulum.org</a></li>
                <li><a href="http://www.apa.org/topics/depress/recover.aspx" target="_blank" class="font-18">Depression and How Therapy Can Help</a></li>
                <li><a href="http://www.depression-screening.org/" target="_blank" class="font-18">Depression Screening</a></li>
                <li><a href="http://depression.realage.com/" target="_blank" class="font-18">Depression Test, Symptoms of Depression, Signs of Depression</a></li>
            </ul>
            <h3>Developmental Disorders</h3>
            <ul>
                <li><a href="http://www.ninds.nih.gov/disorders/asperger/asperger.htm" target="_blank" class="font-18">Asperger's Disorder</a></li>
                <li><a href="http://spinwarp.ucsd.edu/NeuroWeb/" target="_blank" class="font-18">NeuroWeb</a></li>
                <li><a href="http://www.med.yale.edu/chldstdy/autism/" target="_blank" class="font-18">Pervasive Developmental Disorders</a></li>
            </ul>
            <h3>Diagnosis</h3>
            <ul>
                <li><a href="http://www.behavenet.com/capsules/disorders/dsm4tr.htm" target="_blank" class="font-18">DSM-IV-TR: Diagnoses and Criteria</a></li>
            </ul>
            <h3>Dissociation and Traumatic Stress</h3>
            <ul>
                <li><a href="http://www.sidran.org/" target="_blank" class="font-18">Sidran Foundation Home Page</a></li>
            </ul>
            <h3>Eating Disorders</h3>
            <ul>
                <li><a href="http://www.eatright.org/" target="_blank" class="font-18">American Dietetic Association</a></li>
                <li><a href="http://www.something-fishy.org/" target="_blank" class="font-18">Something Fishy</a></li>
            </ul>
            <h3>Journals &amp; Magazines</h3>
            <ul>
                <li><a href="http://www.addwarehouse.com/shopsite_sc/store/html/product311.html" target="_blank" class="font-18">ADHD Report</a></li>
                <li><a href="http://www.tandf.co.uk/journals/titles/10615806.html" target="_blank" class="font-18">Anxiety, Stress and Coping</a></li>
                <li><a href="http://www.sagepub.com/journalsProdDesc.nav?prodId=Journal200822" target="_blank" class="font-18">Autism</a></li>
                <li><a href="http://onlinelibrary.wiley.com/journal/10.1002/%28ISSN%291557-0711" target="_blank" class="font-18">Contemporary Hypnosis</a></li>
                <li><a href="http://www3.interscience.wiley.com/cgi-bin/jhome/38924" target="_blank" class="font-18">Depression and Anxiety</a></li>
                <li><a href="http://www.springer.com/west/home/generic/search/results?SGWID=4-40109-22-33175263-0" target="_blank" class="font-18">Dreaming</a></li>
                <li><a href="http://onlinelibrary.wiley.com/journal/10.1111/%28ISSN%291465-3362" target="_blank" class="font-18">Drug and Alcohol Review</a></li>
                <li><a href="http://www3.interscience.wiley.com/cgi-bin/jhome/6124" target="_blank" class="font-18">Dyslexia</a></li>
                <li><a href="http://www.tandf.co.uk/journals/titles/03004430.html" target="_blank" class="font-18">Early Child Development and Care</a></li>
                <li><a href="http://www.tandf.co.uk/journals/titles/10640266.asp" target="_blank" class="font-18">Eating Disorders</a></li>
                <li><a href="http://www.springer.com/education+%26+language/journal/11092" target="_blank" class="font-18">Educational Assessment</a></li>
                <li><a href="http://www.springer.com/social+sciences/well-being/journal/10902" target="_blank" class="font-18">Journal of Happiness Studies</a></li>
                <li><a href="http://www.tandf.co.uk/journals/titles/13607863.asp" target="_blank" class="font-18">Journal of Mental Health and Aging</a></li>
                <li><a href="http://www.tandf.co.uk/journals/titles/0092623X.html" target="_blank" class="font-18">Journal of Sex &amp; Marital Therapy</a></li>
                <li><a href="http://journals.humankinetics.com/JSEP" target="_blank" class="font-18">Journal of Sport and Exercise Psychology</a></li>
                <li><a href="http://www.elsevier.com/inca/publications/store/5/2/5/4/7/5/" target="_blank" class="font-18">Journal of Substance Abuse Treatment</a></li>
                <li><a href="http://www.tandf.co.uk/journals/pp/01690965.html" target="_blank" class="font-18">Language and Cognitive Processes</a></li>
                <li><a href="http://www.informaworld.com/smpp/title~content=t904385074~db=all" target="_blank" class="font-18">Loss, Grief &amp; Care</a></li>
                <li><a href="http://www3.interscience.wiley.com/cgi-bin/jhome/38853" target="_blank" class="font-18">Mental Retardation and Developmental Disabilities </a></li>
                <li><a href="http://www.tandf.co.uk/journals/titles/1092-6488.asp" target="_blank" class="font-18">Metaphor and Symbol</a></li>
                <li><a href="http://www.tandf.co.uk/journals/titles/09602011.asp" target="_blank" class="font-18">Neuropsychological Rehabilitation</a></li>
                <li><a href="http://www.developmentalpsychologyarena.com/parenting-science-and-practice-1529-5192" target="_blank" class="font-18">Parenting</a></li>
                <li><a href="http://www.blackwellpublishing.com/journal.asp?ref=1350-4126" target="_blank" class="font-18">Personal Relationships</a></li>
                <li><a href="http://www.elsevier.com/inca/publications/store/6/0/3/" target="_blank" class="font-18">Personality and Individual Differences</a></li>
                <li><a href="http://pb.rcpsych.org/" target="_blank" class="font-18">Psychiatric Bulletin</a></li>
                <li><a href="http://www.apa.org/journals/men.html" target="_blank" class="font-18">Psychology of Men &amp; Masculinity</a></li>
                <li><a href="http://www.psychologytoday.com/" target="_blank" class="font-18">Psychology Today</a></li>
                <li><a href="http://www3.interscience.wiley.com/cgi-bin/jhome/76509996" target="_blank" class="font-18">Stress and Health</a></li>
                <li><a href="http://www.psychoanalysisarena.com/journals/studies-in-gender-and-sexuality-1524-0657" target="_blank" class="font-18">Studies in Gender and Sexuality</a></li>
                <li><a href="http://www.sciencedirect.com/science/journal/07405472" target="_blank" class="font-18">Substance Abuse</a></li>
                <li><a href="http://www.guilford.com/cgi-bin/cartscript.cgi?page=periodicals/jnsl.htm&cart_id=871636.9316" target="_blank" class="font-18">Suicide and Life-Threatening Behavior</a></li>
                <li><a href="http://www.sagepub.com/journalsProdDesc.nav?prodId=Journal200782" target="_blank" class="font-18">Trauma, Violence &amp; Abuse</a></li>
            </ul>
            <h3>Medications and Health Supplements</h3>
            <ul>
                <li><a href="http://www.drugs.com/drug_interactions.html" target="_blank" class="font-18">Drug Interactions, Drugs.com</a></li>
                <li><a href="http://www.druginteractioncenter.org/" target="_blank" class="font-18">Drug Interactions, DIRECT</a></li>
                <li><a href="http://www.nlm.nih.gov/medlineplus/mplusdictionary.html" target="_blank" class="font-18">Medical Dictionary</a></li>
                <li><a href="http://www.fda.gov/cder/drug/default.htm" target="_blank" class="font-18">Medications, FDA</a></li>
                <li><a href="http://www.mentalhealth.com/p30.html" target="_blank" class="font-18">Medication, Internet Mental Health</a></li>
                <li><a href="http://www.pdrhealth.com/home/home.aspx" target="_blank" class="font-18">Medications, PDR</a></li>
                <li><a href="http://www.nlm.nih.gov/medlineplus/druginformation.html" target="_blank" class="font-18">Medline, Comparison</a></li>
                <li><a href="http://ods.od.nih.gov/Health_information/Vitamin_and_Mineral_Supplement_Fact_Sheets.aspx" target="_blank" class="font-18">Multivitamins</a></li>
                <li><a href="http://mentalhealth.samhsa.gov/links/default2.asp?ID=Psychiatry+and+Psychology&Topic=Psychiatry+and+Psychology" target="_blank" class="font-18">SAMHSA's Psychiatry and Psychology</a></li>
            </ul>
            <h3>Mental Health Care General Links</h3>
            <ul>
                <li><a href="http://counsellingresource.com" target="_blank" class="font-18">CounsellingResource.com</a></li>
                <li><a href="http://www.goodtherapy.org/" target="_blank" class="font-18">GoodTherapy.org</a></li>
                <li><a href="http://www.mentalhealth.com/" target="_blank" class="font-18">Internet Mental Health</a></li>
                <li><a href="http://www.psych.org/MainMenu/Newsroom/LetsTalkFactsBrochuresFactSheets.aspx" target="_blank" class="font-18">Let&rsquo;s Talk Facts, APA</a></li>
                <li><a href="http://mentalhealth.about.com/" target="_blank" class="font-18">Mental Health Counselor Resources, About.com</a></li>
                <li><a href="http://mentalhelp.net/" target="_blank" class="font-18">Mental Help Net</a></li>
                <li><a href="http://mentalhealth.samhsa.gov/links/default2.asp?ID=Mental+Illnesses%2FDisorders&Topic=Mental+Illnesses%2FDisorders" target="_blank" class="font-18">Mental Illnesses/Disorders</a></li>
                <li><a href="http://psychcentral.com/" target="_blank" class="font-18">PsychCentral.com</a></li>
                <li><a href="http://www.med.umich.edu/1libr/1libr.htm" target="_blank" class="font-18">University of Michigan Health Topics A to Z</a></li>
                <li><a href="http://info.nationaljewish.org/resources/search_results_hssubject.php?healthScience=Consumer+Health+Guide" target="_blank" class="font-18">Web Sites You Can Trust, Medical Library Association</a></li>
            </ul>
            <h3>Personality Disorders</h3>
            <ul>
                <li><a href="http://www.mentalhelp.net/poc/center_index.php?id=8" target="_blank" class="font-18">Mental Help Net - Personality Disorders</a></li>
                <li><a href="http://www.focusas.com/PersonalityDisorders.html" target="_blank" class="font-18">Personality Disorders - Focus Adolescent Counselor Services</a></li>
            </ul>
            <h3>Suicide Awareness and Hotlines</h3>
            <ul>
                <li><a href="http://www.samhsa.gov/prevention/suicide.aspx" target="_blank" class="font-18">SAMHSA's Suicide</a></li>
                <li><a href="http://www.save.org/" target="_blank" class="font-18">Suicide Awareness Voices of Education</a></li>
                <li><a href="http://www.metanoia.org/suicide/" target="_blank" class="font-18">Suicide: Read This First</a></li>
            </ul>
            <h3>Additional Mental Health Care &amp; Counseling Resources</h3>
            <ul>
                <li><a href="http://www.samhsa.gov/trauma/index.aspx" target="_blank" class="font-18">Disaster/Trauma</a></li>
                <li><a href="http://www.dpt.samhsa.gov/comor/hivaids.aspx" target="_blank" class="font-18">HIV/AIDS</a></li>
                <li><a href="http://www.psychwww.com/books/interp/toc.htm" target="_blank" class="font-18">Interpretation of Dreams</a></li>
                <li><a href="http://www.advisorteam.com/user/kts.asp" target="_blank" class="font-18">Keirsey (Myers-Briggs) Temperament Sorter</a></li>
                <li><a href="http://www.project-aware.org/Experience/symptoms.shtml" target="_blank" class="font-18">Signs of Menopause, Symptoms of Menopause</a></li>
            </ul>
            <h3><b>NOTE: </b>Not responsible for the content, claims or  representations of the listed sites</h3>
        </div>
    </section>
</div>
