@{
    ViewBag.Title = "LinksResources";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LinksResources</h2>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML>

<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<TITLE>Links &amp; Resources: Mental Health Care and Counseling | Adult Child Therapy | Mental Health Counselor | CO 80863</TITLE>
<META content="Links &amp; Resources: Mental Health Care and Counseling | Adult Child Therapy | Mental Health Counselor | CO 80863" dir="LTR" lang="en" name="title">
<META content="no-cache" http-equiv="Cache-Control">
<META content="Mon, 22 Jul 2002 11:12:01 GMT" http-equiv="EXPIRES">
<META content="T Tirona, Tao, Tao of T, Therapist, Therapy, Counseling, Counselor, Psychotherapy, Psychotherapist, Marriage Counseling, Family Counseling, Family Therapy, Couples Counseling, Grief Counseling, Mental Health Care, Couples Therapy, Depression, Anxiety, Addiction, Substance Abuse, Relationship Counseling, Marriage and Family Therapy, Therapists, Counselors, Mental Health Counselor" dir="LTR" lang="en" name="keywords">
<META content="T Tirona provides online counseling and therapy services for individuals, couples and families." dir="LTR" lang="en" name="description">
        
<META name="x-therapysites-template" value="Inspired-Your Life">
	
<META content="text/html; charset=UTF-8" http-equiv="Content-Type">
	
<LINK href="/common/themes/global/reset.css" rel="stylesheet" type="text/css">
	
<LINK href="/common/themes/Inspired/fonts.css" rel="stylesheet" type="text/css">
	
<LINK href="/common/themes/Inspired/Your Life/theme2-inner.css" rel="stylesheet" type="text/css">
	
<SCRIPT src="/common/themes/global/SpryMenuBar.js" type="text/javascript"></SCRIPT>
	
<LINK href="/common/themes/Inspired/Your Life/SpryMenuBarVertical.css" rel="stylesheet" type="text/css">
	
<LINK href="/common/themes/global/utils.css" rel="stylesheet" type="text/css">
        
<SCRIPT src="/CMS/ckeditor/ckeditor.js" type="text/javascript"></SCRIPT>

<STYLE>.body_bg_fg {
 color: rgb(255, 255, 255);
}
.body_bg_bg {
 background-color: rgb(255, 255, 255);
}
.body_bg_fg_hover:hover {
 color: rgb(255, 255, 255);
}
.body_bg_bg_hover:hover {
 background-color: rgb(255, 255, 255);
}
.body_bg_border {
 border-color: rgb(255, 255, 255);
}
.body_bg_border_top {
 border-top-color: rgb(255, 255, 255);
}
.body_bg_border_bottom {
 border-bottom-color: rgb(255, 255, 255);
}
.body_bg_border_left {
 border-left-color: rgb(255, 255, 255);
}
.body_bg_border_right {
 border-right-color: rgb(255, 255, 255);
}
.accent2_fg {
 color: rgb(188, 126, 64);
}
.accent2_bg {
 background-color: rgb(188, 126, 64);
}
.accent2_fg_hover:hover {
 color: rgb(188, 126, 64);
}
.accent2_bg_hover:hover {
 background-color: rgb(188, 126, 64);
}
.accent2_border {
 border-color: rgb(188, 126, 64);
}
.accent2_border_top {
 border-top-color: rgb(188, 126, 64);
}
.accent2_border_bottom {
 border-bottom-color: rgb(188, 126, 64);
}
.accent2_border_left {
 border-left-color: rgb(188, 126, 64);
}
.accent2_border_right {
 border-right-color: rgb(188, 126, 64);
}
.body_fg_fg a:link, .body_fg_fg a:visited, .body_fg_fg a:hover, .body_fg_fg a:active {
 color: rgb(0, 0, 255);
}
.accent3_fg {
 color: rgb(211, 192, 144);
}
.accent3_bg {
 background-color: rgb(211, 192, 144);
}
.accent3_fg_hover:hover {
 color: rgb(211, 192, 144);
}
.accent3_bg_hover:hover {
 background-color: rgb(211, 192, 144);
}
.accent3_border {
 border-color: rgb(211, 192, 144);
}
.accent3_border_top {
 border-top-color: rgb(211, 192, 144);
}
.accent3_border_bottom {
 border-bottom-color: rgb(211, 192, 144);
}
.accent3_border_left {
 border-left-color: rgb(211, 192, 144);
}
.accent3_border_right {
 border-right-color: rgb(211, 192, 144);
}
.accent4_fg {
 color: rgb(119, 100, 77);
}
.accent4_bg {
 background-color: rgb(119, 100, 77);
}
.accent4_fg_hover:hover {
 color: rgb(119, 100, 77);
}
.accent4_bg_hover:hover {
 background-color: rgb(119, 100, 77);
}
.accent4_border {
 border-color: rgb(119, 100, 77);
}
.accent4_border_top {
 border-top-color: rgb(119, 100, 77);
}
.accent4_border_bottom {
 border-bottom-color: rgb(119, 100, 77);
}
.accent4_border_left {
 border-left-color: rgb(119, 100, 77);
}
.accent4_border_right {
 border-right-color: rgb(119, 100, 77);
}
.footer_fg_fg {
 color: rgb(232, 218, 182);
}
.footer_fg_bg {
 background-color: rgb(232, 218, 182);
}
.footer_fg_fg_hover:hover {
 color: rgb(232, 218, 182);
}
.footer_fg_bg_hover:hover {
 background-color: rgb(232, 218, 182);
}
.footer_fg_border {
 border-color: rgb(232, 218, 182);
}
.footer_fg_border_top {
 border-top-color: rgb(232, 218, 182);
}
.footer_fg_border_bottom {
 border-bottom-color: rgb(232, 218, 182);
}
.footer_fg_border_left {
 border-left-color: rgb(232, 218, 182);
}
.footer_fg_border_right {
 border-right-color: rgb(232, 218, 182);
}
.sidebar_title_fg_fg {
 color: rgb(99, 80, 57);
}
.sidebar_title_fg_bg {
 background-color: rgb(99, 80, 57);
}
.sidebar_title_fg_fg_hover:hover {
 color: rgb(99, 80, 57);
}
.sidebar_title_fg_bg_hover:hover {
 background-color: rgb(99, 80, 57);
}
.sidebar_title_fg_border {
 border-color: rgb(99, 80, 57);
}
.sidebar_title_fg_border_top {
 border-top-color: rgb(99, 80, 57);
}
.sidebar_title_fg_border_bottom {
 border-bottom-color: rgb(99, 80, 57);
}
.sidebar_title_fg_border_left {
 border-left-color: rgb(99, 80, 57);
}
.sidebar_title_fg_border_right {
 border-right-color: rgb(99, 80, 57);
}
.menu_fg_hover_fg {
 color: rgb(170, 170, 170);
}
.menu_fg_hover_bg {
 background-color: rgb(170, 170, 170);
}
.menu_fg_hover_fg_hover:hover {
 color: rgb(170, 170, 170);
}
.menu_fg_hover_bg_hover:hover {
 background-color: rgb(170, 170, 170);
}
.menu_fg_hover_border {
 border-color: rgb(170, 170, 170);
}
.menu_fg_hover_border_top {
 border-top-color: rgb(170, 170, 170);
}
.menu_fg_hover_border_bottom {
 border-bottom-color: rgb(170, 170, 170);
}
.menu_fg_hover_border_left {
 border-left-color: rgb(170, 170, 170);
}
.menu_fg_hover_border_right {
 border-right-color: rgb(170, 170, 170);
}
.header_bg_fg {
 color: rgb(222, 208, 172);
}
.header_bg_bg {
 background-color: rgb(222, 208, 172);
}
.header_bg_fg_hover:hover {
 color: rgb(222, 208, 172);
}
.header_bg_bg_hover:hover {
 background-color: rgb(222, 208, 172);
}
.header_bg_border {
 border-color: rgb(222, 208, 172);
}
.header_bg_border_top {
 border-top-color: rgb(222, 208, 172);
}
.header_bg_border_bottom {
 border-bottom-color: rgb(222, 208, 172);
}
.header_bg_border_left {
 border-left-color: rgb(222, 208, 172);
}
.header_bg_border_right {
 border-right-color: rgb(222, 208, 172);
}
.footer_bg_fg {
 color: rgb(222, 208, 172);
}
.footer_bg_bg {
 background-color: rgb(222, 208, 172);
}
.footer_bg_fg_hover:hover {
 color: rgb(222, 208, 172);
}
.footer_bg_bg_hover:hover {
 background-color: rgb(222, 208, 172);
}
.footer_bg_border {
 border-color: rgb(222, 208, 172);
}
.footer_bg_border_top {
 border-top-color: rgb(222, 208, 172);
}
.footer_bg_border_bottom {
 border-bottom-color: rgb(222, 208, 172);
}
.footer_bg_border_left {
 border-left-color: rgb(222, 208, 172);
}
.footer_bg_border_right {
 border-right-color: rgb(222, 208, 172);
}
.header_fg_fg {
 color: rgb(119, 100, 77);
}
.header_fg_bg {
 background-color: rgb(119, 100, 77);
}
.header_fg_fg_hover:hover {
 color: rgb(119, 100, 77);
}
.header_fg_bg_hover:hover {
 background-color: rgb(119, 100, 77);
}
.header_fg_border {
 border-color: rgb(119, 100, 77);
}
.header_fg_border_top {
 border-top-color: rgb(119, 100, 77);
}
.header_fg_border_bottom {
 border-bottom-color: rgb(119, 100, 77);
}
.header_fg_border_left {
 border-left-color: rgb(119, 100, 77);
}
.header_fg_border_right {
 border-right-color: rgb(119, 100, 77);
}
.sidebar_bg_fg {
 color: rgb(188, 126, 64);
}
.sidebar_bg_bg {
 background-color: rgb(188, 126, 64);
}
.sidebar_bg_fg_hover:hover {
 color: rgb(188, 126, 64);
}
.sidebar_bg_bg_hover:hover {
 background-color: rgb(188, 126, 64);
}
.sidebar_bg_border {
 border-color: rgb(188, 126, 64);
}
.sidebar_bg_border_top {
 border-top-color: rgb(188, 126, 64);
}
.sidebar_bg_border_bottom {
 border-bottom-color: rgb(188, 126, 64);
}
.sidebar_bg_border_left {
 border-left-color: rgb(188, 126, 64);
}
.sidebar_bg_border_right {
 border-right-color: rgb(188, 126, 64);
}
.sidebar_fg_fg {
 color: rgb(255, 255, 255);
}
.sidebar_fg_bg {
 background-color: rgb(255, 255, 255);
}
.sidebar_fg_fg_hover:hover {
 color: rgb(255, 255, 255);
}
.sidebar_fg_bg_hover:hover {
 background-color: rgb(255, 255, 255);
}
.sidebar_fg_border {
 border-color: rgb(255, 255, 255);
}
.sidebar_fg_border_top {
 border-top-color: rgb(255, 255, 255);
}
.sidebar_fg_border_bottom {
 border-bottom-color: rgb(255, 255, 255);
}
.sidebar_fg_border_left {
 border-left-color: rgb(255, 255, 255);
}
.sidebar_fg_border_right {
 border-right-color: rgb(255, 255, 255);
}
.accent1_fg {
 color: rgb(99, 80, 57);
}
.accent1_bg {
 background-color: rgb(99, 80, 57);
}
.accent1_fg_hover:hover {
 color: rgb(99, 80, 57);
}
.accent1_bg_hover:hover {
 background-color: rgb(99, 80, 57);
}
.accent1_border {
 border-color: rgb(99, 80, 57);
}
.accent1_border_top {
 border-top-color: rgb(99, 80, 57);
}
.accent1_border_bottom {
 border-bottom-color: rgb(99, 80, 57);
}
.accent1_border_left {
 border-left-color: rgb(99, 80, 57);
}
.accent1_border_right {
 border-right-color: rgb(99, 80, 57);
}
.menu_bg_fg {
 color: rgb(255, 255, 255);
}
.menu_bg_bg {
 background-color: rgb(255, 255, 255);
}
.menu_bg_fg_hover:hover {
 color: rgb(255, 255, 255);
}
.menu_bg_bg_hover:hover {
 background-color: rgb(255, 255, 255);
}
.menu_bg_border {
 border-color: rgb(255, 255, 255);
}
.menu_bg_border_top {
 border-top-color: rgb(255, 255, 255);
}
.menu_bg_border_bottom {
 border-bottom-color: rgb(255, 255, 255);
}
.menu_bg_border_left {
 border-left-color: rgb(255, 255, 255);
}
.menu_bg_border_right {
 border-right-color: rgb(255, 255, 255);
}
.slogan_fg_fg {
 color: rgb(16, 16, 16);
}
.slogan_fg_bg {
 background-color: rgb(16, 16, 16);
}
.slogan_fg_fg_hover:hover {
 color: rgb(16, 16, 16);
}
.slogan_fg_bg_hover:hover {
 background-color: rgb(16, 16, 16);
}
.slogan_fg_border {
 border-color: rgb(16, 16, 16);
}
.slogan_fg_border_top {
 border-top-color: rgb(16, 16, 16);
}
.slogan_fg_border_bottom {
 border-bottom-color: rgb(16, 16, 16);
}
.slogan_fg_border_left {
 border-left-color: rgb(16, 16, 16);
}
.slogan_fg_border_right {
 border-right-color: rgb(16, 16, 16);
}
.title_fg_fg {
 color: rgb(38, 34, 22);
}
.title_fg_bg {
 background-color: rgb(38, 34, 22);
}
.title_fg_fg_hover:hover {
 color: rgb(38, 34, 22);
}
.title_fg_bg_hover:hover {
 background-color: rgb(38, 34, 22);
}
.title_fg_border {
 border-color: rgb(38, 34, 22);
}
.title_fg_border_top {
 border-top-color: rgb(38, 34, 22);
}
.title_fg_border_bottom {
 border-bottom-color: rgb(38, 34, 22);
}
.title_fg_border_left {
 border-left-color: rgb(38, 34, 22);
}
.title_fg_border_right {
 border-right-color: rgb(38, 34, 22);
}
.body_fg_fg {
 color: rgb(114, 109, 106);
}
.body_fg_bg {
 background-color: rgb(114, 109, 106);
}
.body_fg_fg_hover:hover {
 color: rgb(114, 109, 106);
}
.body_fg_bg_hover:hover {
 background-color: rgb(114, 109, 106);
}
.body_fg_border {
 border-color: rgb(114, 109, 106);
}
.body_fg_border_top {
 border-top-color: rgb(114, 109, 106);
}
.body_fg_border_bottom {
 border-bottom-color: rgb(114, 109, 106);
}
.body_fg_border_left {
 border-left-color: rgb(114, 109, 106);
}
.body_fg_border_right {
 border-right-color: rgb(114, 109, 106);
}
.menu_fg_fg {
 color: rgb(51, 51, 51);
}
.menu_fg_bg {
 background-color: rgb(51, 51, 51);
}
.menu_fg_fg_hover:hover {
 color: rgb(51, 51, 51);
}
.menu_fg_bg_hover:hover {
 background-color: rgb(51, 51, 51);
}
.menu_fg_border {
 border-color: rgb(51, 51, 51);
}
.menu_fg_border_top {
 border-top-color: rgb(51, 51, 51);
}
.menu_fg_border_bottom {
 border-bottom-color: rgb(51, 51, 51);
}
.menu_fg_border_left {
 border-left-color: rgb(51, 51, 51);
}
.menu_fg_border_right {
 border-right-color: rgb(51, 51, 51);
}
.headersub_fg_fg {
 color: rgb(120, 120, 120);
}
.headersub_fg_bg {
 background-color: rgb(120, 120, 120);
}
.headersub_fg_fg_hover:hover {
 color: rgb(120, 120, 120);
}
.headersub_fg_bg_hover:hover {
 background-color: rgb(120, 120, 120);
}
.headersub_fg_border {
 border-color: rgb(120, 120, 120);
}
.headersub_fg_border_top {
 border-top-color: rgb(120, 120, 120);
}
.headersub_fg_border_bottom {
 border-bottom-color: rgb(120, 120, 120);
}
.headersub_fg_border_left {
 border-left-color: rgb(120, 120, 120);
}
.headersub_fg_border_right {
 border-right-color: rgb(120, 120, 120);
}
.title_icon {
 background-image: url(/common/themes/Inspired/Your%20Life/title-icon.png);
 background-position: 40px center;
 background-repeat: no-repeat;
}
</STYLE>
<SCRIPT src="/common/javascript/therapySitesGlobal.js" type="text/javascript"></SCRIPT>
</HEAD>

<BODY class="oneColFixCtr">
<INPUT id="actualPageId" type="hidden" value="2243502">
	
<DIV class="contentnode" id="bodyTop"></DIV>
	
<DIV class="accent2_bg" id="container">
                
<DIV class="contentnode" id="nav_buttons_inner">
                    
<A class="homepage-link" href="index.html"><IMG onmouseout="this.src='/common/themes/global/images/home_icon.png';" onmouseover="this.src='/common/themes/global/images/home_iconMO.png';" src="/common/themes/global/images/home_icon.png" title="Home" width="25"></A>
                    <A class="make-an-appointment-link" href="AppointmentRequest.en.html"><IMG onmouseout="this.src='/common/themes/global/images/request_icon.png';" onmouseover="this.src='/common/themes/global/images/request_iconMO.png';" src="/common/themes/global/images/request_icon.png" title="Appointment Request" width="25"></A>
		    
                
</DIV>
            
<DIV class="header_bg_bg accent1_border_top title_icon" id="header">
		      
<DIV class="contentnode" id="heading">
			    
<A class="homepage-link" href="index.html"><IMG alt="Tao of T" class="website-title header_fg_fg " id="website-title-295236083-header_bg-header_fg" src="dimg/websitetitle295236083headerbgheaderfg.gif"></A>
			    <IMG height="2" src="/common/themes/global/spacer.gif" width="700">
			    <IMG alt="Online Therapy for Individuals, Couples, &amp; Families" class="contentnode website-subtitle headersub_fg_fg " id="website-subtitle-1100808748-header_bg-headersub_fg" src="dimg/websitesubtitle1100808748headerbgheadersubfg.gif">
			  </DIV>
			  
		    
</DIV>
		
<DIV class="clearfix" id="mainContent">
			
<TABLE style="border-collapse: collapse;">
				
<TR>
					
<TD class="sidebar_bg_bg sidebar_fg_fg" id="left_cell" style="vertical-align: top;">
						
<DIV id="left_column">
							
<DIV class="menu_bg_bg accent2_border_bottom" id="menu">
								
<UL class="MenuBarVertical contentnode" id="nav">
									
<LI class="nav1 nav1-select menu_fg_fg menu_fg_hover_fg_hover menu_bg_bg menu_bg_hover_bg_hover">
<A class="nav1-link" href="index.html" title="Home"><SPAN class="nav1-label" id="pageId-2243484">Home</SPAN></A>
</LI>
<LI class="nav1 nav1-select menu_fg_fg menu_fg_hover_fg_hover menu_bg_bg menu_bg_hover_bg_hover">
<A class="nav1-link" href="AboutMe.en.html" title="About Me"><SPAN class="nav1-label" id="pageId-2243514">About Me</SPAN></A>
</LI>
<LI class="nav1 nav1-select menu_fg_fg menu_fg_hover_fg_hover menu_bg_bg menu_bg_hover_bg_hover">
<A class="nav1-link" href="ServicesProvided.en.html" title="Services Provided"><SPAN class="nav1-label" id="pageId-2243487">Services Provided</SPAN></A>
</LI>
<LI class="nav1 nav1-select menu_fg_fg menu_fg_hover_fg_hover menu_bg_bg menu_bg_hover_bg_hover">
<A class="nav1-link" href="CommonQuestions.en.html" title="Common Questions"><SPAN class="nav1-label" id="pageId-2243490">Common Questions</SPAN></A>
</LI>
<LI class="nav1 nav1-select menu_fg_fg menu_fg_hover_fg_hover menu_bg_bg menu_bg_hover_bg_hover">
<A class="nav1-link" href="AppointmentRequest.en.html" title="Appointment Request"><SPAN class="nav1-label" id="pageId-2243496">Appointment Request</SPAN></A>
</LI>
<LI class="nav1 nav1-select menu_fg_fg menu_fg_hover_fg_hover menu_bg_bg menu_bg_hover_bg_hover">
<A class="nav1-link" href="HelpfulForms.en.html" title="Helpful Forms"><SPAN class="nav1-label" id="pageId-2243499">Helpful Forms</SPAN></A>
</LI>
<LI class="nav1 nav1-select menu_fg_fg menu_fg_hover_fg_hover menu_bg_bg menu_bg_hover_bg_hover">
<A class="nav1-link" href="Signup.en.html" title="Sign up"><SPAN class="nav1-label" id="pageId-2243493">Sign up</SPAN></A>
</LI>
<LI class="nav1 nav1-select menu_fg_fg menu_fg_hover_fg_hover menu_bg_bg menu_bg_hover_bg_hover">
<A class="nav1-link" href="LinksResources.en.html" title="Links &amp; Resources"><SPAN class="nav1-label" id="pageId-2243502">Links &amp; Resources</SPAN></A>
</LI>
<LI class="nav1 nav1-select menu_fg_fg menu_fg_hover_fg_hover menu_bg_bg menu_bg_hover_bg_hover">
<A class="nav1-link" href="BuyBooksAndCDs.en.html" title="Buy Books And CDs"><SPAN class="nav1-label" id="pageId-2243508">Buy Books And CDs</SPAN></A>
</LI>
<LI class="nav1 nav1-select menu_fg_fg menu_fg_hover_fg_hover menu_bg_bg menu_bg_hover_bg_hover">
<A class="nav1-link" href="PrivacyPolicy.en.html" title="Privacy &amp; Policy"><SPAN class="nav1-label" id="pageId-2243517">Privacy &amp; Policy</SPAN></A>
</LI>
<LI class="nav1 nav1-select menu_fg_fg menu_fg_hover_fg_hover menu_bg_bg menu_bg_hover_bg_hover">
<A class="nav1-link" href="HotTopics.en.html" title="Hot Topics!"><SPAN class="nav1-label" id="pageId-2243520">Hot Topics!</SPAN></A>
</LI>
<LI class="nav1 nav1-select menu_fg_fg menu_fg_hover_fg_hover menu_bg_bg menu_bg_hover_bg_hover">
<A class="nav1-link" href="TheTAO.en.html" title="The TAO"><SPAN class="nav1-label" id="pageId-2287605">The TAO</SPAN></A>
</LI>
								
</UL>
								
<DIV style="clear: both;">&nbsp;</DIV>
							
</DIV>
							
<HR class="accent3_bg">
							
<P class="contentnode" id="sidebar_slogan_wrapper">
<A class="make-an-appointment-link" href="AppointmentRequest.en.html"><IMG alt="Schedule A N   A P P O I N T M E N T" class=" slogan_fg_fg" id="sidebar_slogan-1062292682-sidebar_bg-slogan_fg" src="dimg/sidebarslogan1062292682sidebarbgsloganfg.gif" width="90%"></A>
</P>
							
<BR>
							
<DIV class="contentnode" id="sidebarInfo" style="line-height:normal;">
								
<DIV class="profile-name sidebar_title_fg_fg">T Tirona</DIV>
								
<DIV class="profile-phone">719.286.8569</DIV>
								
<DIV class="profile-formatted-address">www.tao-of-t.com<BR>CO 80863<BR>
</DIV>
								
<A class="profile-email-link" href="mailto:ttirona@tao-of-t.com"><SPAN class="profile-email">ttirona<WBR></WBR>@<WBR></WBR>tao<WBR></WBR>-<WBR></WBR>of<WBR></WBR>-<WBR></WBR>t<WBR></WBR>.<WBR></WBR>com</SPAN></A>
							
</DIV>
							
<DIV class="contentnode" id="sidebarAppend"></DIV>
						
</DIV>
					
</TD>
					<TD class="body_bg_bg" id="right_cell" style="vertical-align: top;">
						
<DIV class="sidebar2_bg_bg" id="right_column">
							
<DIV id="banner">
<DIV class="contentnode" id="banner_inner">
<IMG height="91" id="inner_graphic" src="/common/themes/Inspired/Your Life/inner.png" width="703"></DIV>
</DIV>
							
<DIV class="body_fg_fg body_bg_bg" id="actual_content_container">
								
<DIV id="content_header">
									
<IMG alt="Links &amp; Resources" class="page-title title_fg_fg " id="page-title-1629444127-body_bg-title_fg" src="dimg/pagetitle1629444127bodybgtitlefg.gif">
								</DIV>
								
<DIV id="actual_content">
									
<DIV id="content">
<STYLE type="text/css">
p {font-size: 11pt;}
body {font-size: 11pt;}
</STYLE>

<P>
<B>Mental Health Links</B>
<BR>
The following links are listed to provide you with additional online mental health care information and  counseling resources.</P>

<P>
<B>Addiction and Recovery</B>
<BR>

<A href="http://www.alcoholics-anonymous.org/" target="_blank">Alcoholics Anonymous</A>
<BR>

<A href="http://www.careflorida.com/learn_about-_addiction_and_drug-recovery/helpful-articles/aa-recovery-resources.html" target="_blank">Alcoholics Anonymous Recovery Resources</A>
<BR>

<A href="http://netaddiction.com/" target="_blank">Center for On-Line Addiction<BR>

</A><A href="http://www.recoveryconnection.org/drug-alcohol-addiction-recovery-guides/" target="_blank">Drug and Alcohol Recovery Guides</A>
<BR>

<A href="http://www.recoveryconnection.org/the-twelve-steps-of-recovery-infographic/" target="_blank">Infographic: The Twelve Steps of Recovery<BR>

</A><A href="http://www.recoveryconnection.org/drug-abuse-and-your-body-exposed-infographic/" target="_blank">Infographic: Drug Abuse and your Body: Exposed<BR>

</A> <A href="http://www.samhsa.gov/prevention/" target="_blank">SAMHSA's Substance Abuse/Addiction</A>
<BR>

<A href="http://www.samhsa.gov/treatment/" target="_blank">SAMHSA's Treatment and Recovery</A>
<BR>

<A href="http://www.well.com/user/woa/" target="_blank">Web of Addictions</A>
</P>

<P>
<B>Anxiety Disorders</B>
<BR>

<A href="http://www.apa.org/pubinfo/panic.html" target="_blank">Answers to Your Questions About Panic Disorder </A>
<BR>

<A href="http://www.ncptsd.va.gov/" target="_blank">National Center for PTSD</A>
<BR>

<A href="http://www.miminc.org/aboutocic.asp" target="_blank">Obsessive Compulsive Information Center<BR type="_moz">

</A><A href="http://www.calmclinic.com" target="_blank">Calm Clinic</A>
</P>

<P>
<B>Associations &amp; Institutes</B>
<BR>

<A href="http://www.aacap.org/" target="_blank">American Academy of Child &amp; Adolescent Psychiatry</A>
<BR>

<A href="http://www.aamft.org/" target="_blank">American Association for Marriage and Family Therapy</A>
<BR>

<A href="http://www.counseling.org/" target="_blank">American Counseling Association</A>
<BR>

<A href="http://www.psych.org/" target="_blank">American Psychiatric Association</A>
<BR>

<A href="http://www.apa.org/" target="_blank">American Psychological Association</A>
<BR>

<A href="http://www.psychologicalscience.org/" target="_blank">American Psychological Society</A>
<BR>

<A href="http://www.cmha.ca/" target="_blank">Canadian Mental Health Association</A>
<BR>

<A href="http://www.samhsa.gov/about/cmhs.aspx" target="_blank">Center for Mental Health Services</A>
<BR>

<A href="http://www.nimh.nih.gov/" target="_blank">National Institute of Mental Health</A>
<BR>

<A href="http://www.nmha.org/" target="_blank">National Mental Health Association</A>
<BR>

<A href="http://www.samhsa.gov/" target="_blank">Substance Abuse and Mental Health Services Administration</A>
</P>

<P>
<B>Attention-Deficit Hyperactivity Disorder</B>
<BR>

<A href="http://www.add.org/" target="_blank">ADDA - Attention Deficit Disorder Association</A>
<BR>

<A href="http://www.nimh.nih.gov/health/topics/attention-deficit-hyperactivity-disorder-adhd/index.shtml" target="_blank">Attention-Deficit Hyperactivity Disorder, NIMH</A>
<BR>

<A href="http://borntoexplore.org/" target="_blank">Born to Explore: The Other Side of ADD/ADHD</A>
</P>

<P>
<B>Child Abuse and Domestic Violence</B>
<BR>

<A href="http://www.childhelp.org/" target="_blank">Childhelp USA&reg;</A>
<BR>

<A href="http://www.samhsa.gov/families/index.aspx" target="_blank">SAMHSA's Children and Families</A>
<BR>

<A href="http://www.samhsa.gov/publicAwareness/" target="_blank">SAMHSA's Protection and Advocacy</A>
<BR>

<A href="http://www.apa.org/topics/trauma/memories.aspx" target="_blank">Questions and Answers about Memories of Childhood Abuse</A>
<BR>

<A href="http://www.ndvh.org/" target="_blank">The National Domestic Violence Hotline Website</A>
<BR>

<A href="http://mentalhealth.samhsa.gov/links/default2.asp?ID=Women%2C+Violence+and+Trauma&Topic=Women%2C+Violence+and+Trauma" target="_blank">Women, Violence and Trauma</A>
</P>

<P>
<B>Chronic Fatigue</B>
<BR>

<A href="http://www.cdc.gov/cfs/" target="_blank">Chronic Fatigue Syndrome</A>
</P>

<P>
<B>Depression</B>
<BR>

<A href="http://www.pendulum.org/" target="_blank">Bipolar Disorder News - Pendulum.org</A>
<BR>

<A href="http://www.apa.org/topics/depress/recover.aspx" target="_blank">Depression and How Therapy Can Help</A>
<BR>

<A href="http://www.depression-screening.org/" target="_blank">Depression Screening</A>
<BR>

<A href="http://depression.realage.com/" target="_blank">Depression Test, Symptoms of Depression, Signs of Depression</A>
</P>

<P>
<B>Developmental Disorders</B>
<BR>

<A href="http://www.ninds.nih.gov/disorders/asperger/asperger.htm" target="_blank">Asperger's Disorder</A>
<BR>

<A href="http://spinwarp.ucsd.edu/NeuroWeb/" target="_blank">NeuroWeb</A>
<BR>

<A href="http://www.med.yale.edu/chldstdy/autism/" target="_blank">Pervasive Developmental Disorders</A>
</P>

<P>
<B>Diagnosis</B>
<BR>

<A href="http://www.behavenet.com/capsules/disorders/dsm4tr.htm" target="_blank">DSM-IV-TR: Diagnoses and Criteria</A>
</P>

<P>
<B>Dissociation and Traumatic Stress</B>
<BR>

<A href="http://www.sidran.org/" target="_blank">Sidran Foundation Home Page</A>
</P>

<P>
<B>Eating Disorders</B>
<BR>

<A href="http://www.eatright.org/" target="_blank">American Dietetic Association</A>
<BR>

<A href="http://www.something-fishy.org/" target="_blank">Something Fishy</A>
</P>

<P>
<B>Journals &amp; Magazines</B>
<BR>

<A href="http://www.addwarehouse.com/shopsite_sc/store/html/product311.html" target="_blank">ADHD Report</A>
<BR>

<A href="http://www.tandf.co.uk/journals/titles/10615806.html" target="_blank">Anxiety, Stress and Coping</A>
<BR>

<A href="http://www.sagepub.com/journalsProdDesc.nav?prodId=Journal200822" target="_blank">Autism</A>
<BR>

<A href="http://www.sagepub.com/journalsProdDesc.nav?prodId=Journal200979" target="_blank">Childhood</A>
<BR>

<A href="http://onlinelibrary.wiley.com/journal/10.1002/%28ISSN%291557-0711" target="_blank">Contemporary Hypnosis</A>
<BR>

<A href="http://www.sagepub.com/journalsProdDesc.nav?prodId=Journal201266" target="_blank">Dementia</A>
<BR>

<A href="http://www3.interscience.wiley.com/cgi-bin/jhome/38924" target="_blank">Depression and Anxiety</A>
<BR>

<A href="http://www.springer.com/west/home/generic/search/results?SGWID=4-40109-22-33175263-0" target="_blank">Dreaming</A>
<BR>

<A href="http://onlinelibrary.wiley.com/journal/10.1111/%28ISSN%291465-3362" target="_blank">Drug and Alcohol Review</A>
<BR>

<A href="http://www3.interscience.wiley.com/cgi-bin/jhome/6124" target="_blank">Dyslexia</A>
<BR>

<A href="http://www.tandf.co.uk/journals/titles/03004430.html" target="_blank">Early Child Development and Care</A>
<BR>

<A href="http://www.tandf.co.uk/journals/titles/10640266.asp" target="_blank">Eating Disorders</A>
<BR>

<A href="http://www.springer.com/education+%26+language/journal/11092" target="_blank">Educational Assessment</A>
<BR>

<A href="http://www.springer.com/medicine/psychiatry/journal/10899" target="_blank">Journal of Gambling Studies</A>
<BR>

<A href="http://www.springer.com/social+sciences/well-being/journal/10902" target="_blank">Journal of Happiness Studies</A>
<BR>

<A href="http://www.tandf.co.uk/journals/titles/13607863.asp" target="_blank">Journal of Mental Health and Aging</A>
<BR>

<A href="http://www.tandf.co.uk/journals/titles/0092623X.html" target="_blank">Journal of Sex &amp; Marital Therapy</A>
<BR>

<A href="http://journals.humankinetics.com/JSEP" target="_blank">Journal of Sport and Exercise Psychology</A>
<BR>

<A href="http://www.elsevier.com/inca/publications/store/5/2/5/4/7/5/" target="_blank">Journal of Substance Abuse Treatment</A>
<BR>

<A href="http://www.tandf.co.uk/journals/pp/01690965.html" target="_blank">Language and Cognitive Processes</A>
<BR>

<A href="http://www.informaworld.com/smpp/title~content=t904385074~db=all" target="_blank">Loss, Grief &amp; Care</A>
<BR>

<A href="http://www3.interscience.wiley.com/cgi-bin/jhome/38853" target="_blank">Mental Retardation and Developmental Disabilities </A>
<BR>

<A href="http://www.tandf.co.uk/journals/titles/1092-6488.asp" target="_blank">Metaphor and Symbol</A>
<BR>

<A href="http://www.tandf.co.uk/journals/titles/09602011.asp" target="_blank">Neuropsychological Rehabilitation</A>
<BR>

<A href="http://www.developmentalpsychologyarena.com/parenting-science-and-practice-1529-5192" target="_blank">Parenting</A>
<BR>

<A href="http://www.blackwellpublishing.com/journal.asp?ref=1350-4126" target="_blank">Personal Relationships</A>
<BR>

<A href="http://www.elsevier.com/inca/publications/store/6/0/3/" target="_blank">Personality and Individual Differences</A>
<BR>

<A href="http://pb.rcpsych.org/" target="_blank">Psychiatric Bulletin</A>
<BR>

<A href="http://www.apa.org/journals/men.html" target="_blank">Psychology of Men &amp; Masculinity</A>
<BR>

<A href="http://www.psychologytoday.com/" target="_blank">Psychology Today</A>
<BR>

<A href="http://www3.interscience.wiley.com/cgi-bin/jhome/76509996" target="_blank">Stress and Health</A>
<BR>

<A href="http://www.psychoanalysisarena.com/journals/studies-in-gender-and-sexuality-1524-0657" target="_blank">Studies in Gender and Sexuality</A>
<BR>

<A href="http://www.sciencedirect.com/science/journal/07405472" target="_blank">Substance Abuse</A>
<BR>

<A href="http://www.guilford.com/cgi-bin/cartscript.cgi?page=periodicals/jnsl.htm&cart_id=871636.9316" target="_blank">Suicide and Life-Threatening Behavior</A>
<BR>

<A href="http://www.sagepub.com/journalsProdDesc.nav?prodId=Journal200782" target="_blank">Trauma, Violence &amp; Abuse</A>
</P>

<P>
<B>Medications and Health Supplements</B>
<BR>

<A href="http://www.drugs.com/drug_interactions.html" target="_blank">Drug Interactions, Drugs.com</A>
<BR>

<A href="http://www.druginteractioncenter.org/" target="_blank">Drug Interactions, DIRECT</A>
<BR>

<A href="http://www.nlm.nih.gov/medlineplus/mplusdictionary.html" target="_blank">Medical Dictionary</A>
<BR>

<A href="http://www.fda.gov/cder/drug/default.htm" target="_blank">Medications, FDA</A>
<BR>

<A href="http://www.mentalhealth.com/p30.html" target="_blank">Medication, Internet Mental Health</A>
<BR>

<A href="http://www.pdrhealth.com/home/home.aspx" target="_blank">Medications, PDR</A>
<BR>

<A href="http://www.nlm.nih.gov/medlineplus/druginformation.html" target="_blank">Medline, Comparison</A>
<BR>

<A href="http://ods.od.nih.gov/Health_information/Vitamin_and_Mineral_Supplement_Fact_Sheets.aspx" target="_blank">Multivitamins</A>
<BR>

<A href="http://mentalhealth.samhsa.gov/links/default2.asp?ID=Psychiatry+and+Psychology&Topic=Psychiatry+and+Psychology" target="_blank">SAMHSA's Psychiatry and Psychology</A>
</P>

<P>
<B>Mental Health Care General Links</B>
<BR>

<A href="http://counsellingresource.com" target="_blank">CounsellingResource.com</A>
<BR>

<A href="http://www.goodtherapy.org/" target="_blank">GoodTherapy.org</A>
<BR>

<A href="http://www.mentalhealth.com/" target="_blank">Internet Mental Health</A>
<BR>

<A href="http://www.psych.org/MainMenu/Newsroom/LetsTalkFactsBrochuresFactSheets.aspx" target="_blank">Let&rsquo;s Talk Facts, APA</A>
<BR>

<A href="http://mentalhealth.about.com/" target="_blank">Mental Health Counselor Resources, About.com</A>
<BR>

<A href="http://mentalhelp.net/" target="_blank">Mental Help Net</A>
<BR>

<A href="http://mentalhealth.samhsa.gov/links/default2.asp?ID=Mental+Illnesses%2FDisorders&Topic=Mental+Illnesses%2FDisorders" target="_blank">Mental Illnesses/Disorders</A>
<BR>

<A href="http://psychcentral.com/" target="_blank">PsychCentral.com</A>
<BR>

<A href="http://www.med.umich.edu/1libr/1libr.htm" target="_blank">University of Michigan Health Topics A to Z</A>
<BR>

<A href="http://info.nationaljewish.org/resources/search_results_hssubject.php?healthScience=Consumer+Health+Guide" target="_blank">Web Sites You Can Trust, Medical Library Association</A>
</P>

<P>
<B>Personality Disorders</B>
<BR>

<A href="http://www.mentalhelp.net/poc/center_index.php?id=8" target="_blank">Mental Help Net - Personality Disorders</A>
<BR>

<A href="http://www.focusas.com/PersonalityDisorders.html" target="_blank">Personality Disorders - Focus Adolescent Counselor Services</A><B>
<BR>

</B>
</P>

<P>
<B>Suicide Awareness and Hotlines</B>
<BR>

<A href="http://www.samhsa.gov/prevention/suicide.aspx" target="_blank">SAMHSA's Suicide</A>
<BR>

<A href="http://www.save.org/" target="_blank">Suicide Awareness Voices of Education</A>
<BR>

<A href="http://www.metanoia.org/suicide/" target="_blank">Suicide: Read This First</A>
</P>

<P>
<B>Additional Mental Health Care &amp; Counseling Resources</B>
<BR>

<A href="http://www.samhsa.gov/trauma/index.aspx" target="_blank">Disaster/Trauma</A>
<BR>

<A href="http://www.dpt.samhsa.gov/comor/hivaids.aspx" target="_blank">HIV/AIDS</A>
<BR>

<A href="http://www.psychwww.com/books/interp/toc.htm" target="_blank">Interpretation of Dreams</A>
<BR>

<A href="http://www.advisorteam.com/user/kts.asp" target="_blank">Keirsey (Myers-Briggs)  Temperament Sorter</A>
<BR>

<A href="http://www.project-aware.org/Experience/symptoms.shtml" target="_blank">Signs of Menopause, Symptoms of Menopause</A>
</P>

<P>
<B>
<BR>
Note:</B><I> Not responsible for the content, claims or  representations of the listed sites</I>.</P>
</DIV>
								
</DIV>
							
</DIV>
						
</DIV>
					
</TD>
				
</TR>
			
</TABLE>
			
<DIV class="footer_container sidebar_bg_bg" id="footer_container">
                                
<DIV class="line_footer accent2_bg"></DIV>
				
<DIV class="footer footer_fg_fg footer_bg_bg" id="footer">
					
<DIV class="contentnode" id="footerAppend"></DIV>
					
<DIV class="contentnode" id="copyright">&copy;2012 by <SPAN onclick="window.open('http://www.TherapySites.com'); return true;" onmouseout="this.style.textDecoration='none'; window.status='';" onmouseover="this.style.textDecoration='underline'; window.status='http://www.TherapySites.com'; return true;" style="cursor: pointer;">TherapySites.com</SPAN>. All rights reserved.</DIV>
				
</DIV>
			
</DIV>
		
</DIV>
<!-- end #mainContent -->
	
</DIV>
<!-- end #container -->
	
<SCRIPT type="text/javascript">
	<!--
	var MenuBar1 = new Spry.Widget.MenuBar("nav", {imgRight:"/common/themes/Inspired/Your Life/SpryMenuBarRightHover.gif"});
	//-->
	</SCRIPT>
	
<DIV class="contentnode" id="bodyEnd"></DIV>



<DIV id="__chk" style="display: none;">83c4b622f47de52a6a044b34d1560178</DIV>
</BODY>
</HTML>

