@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="header-image">
    <img src="~/images/page/dreamscometrue.png" alt="Dreams do come true." />
</div>

<div id="page-content">

    <section id="content">
        <div id="content-container">            
            <h2>Privacy and Confidentiality</h2>
            <br />
            <h3>Confidentiality & Privacy Policy</h3>
            <br />
            <p>The law protects the relationship between a client and a psychotherapist, and information cannot be disclosed without written permission.</p>
            <br />
            <h3>Exceptions include:</h3>
            <ul>
                <li style="padding-bottom:15px;">Suspected child abuse or dependant adult or elder abuse, for which I am required by law to report this to the appropriate authorities immediately.</li>
                <li style="padding-bottom:15px;">If a client is threatening serious bodily harm to another person/s, I must notify the police and inform the intended victim.</li>
                <li>If a client intends to harm himself or herself, I will make every effort to enlist their cooperation in ensuring their safety. If they do not cooperate, I will take further measures without their permission that are provided to me by law in order to ensure their safety.</li>
            </ul>
        </div>
    </section>

</div>