@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="header-image">
    <img src="../../Images/page/livethedream.png" alt="Live the DREAM!" />
</div>

<div id="questions">
    <section id="header-image">
    </section>

    <section id="content">
        <div id="content-container">            
            <h2>Common Questions</h2>
            <br />
            <h3>Is counseling right for me? I can usually handle my problems.</h3>
            <br />
            <p>Seeking out counseling is an individual choice. There are many reasons why people come to  counseling . Sometimes it is to deal with long-standing psychological issues, or problems with anxiety or depression. Other times it is in response to unexpected changes in one's life such as a divorce or work transition. Many seek the advice of a counselor as they pursue their own personal exploration and growth. Working with a  counselor can help provide insight, support, and new strategies for all types of life challenges. Counseling can help address many types of issues including depression, anxiety, conflict, grief, stress management, body-image issues, and general life transitions. Counseling is right for anyone who is interested in getting the most out of their life by taking responsibility, creating greater self-awareness, and working towards change in their lives.</p>
            <br />
            <h3>Do I really need counseling?</h3>
            <br />
            <p>Everyone goes through challenging situations in life, and while you may have successfully navigated through other difficulties you've faced, there's nothing wrong with seeking out extra support when you need it. In fact, counseling is for people who have enough self-awareness to realize they need a helping hand, and that is something to be admired. You are taking responsibility by accepting where you're at in life and making a commitment to change the situation by seeking counseling .  Counseling provides long-lasting benefits and support, giving you the tools you need to avoid triggers, re-direct damaging patterns, and overcome whatever challenges you face.</p>
            <br />
            <h3>How can counseling help me?</h3>
            <br />
            <p>A number of benefits are available from participating in psychotherapy. Therapists can provide support, problem-solving skills, and enhanced coping strategies for issues such as depression, anxiety, relationship troubles, unresolved childhood issues, grief, stress management, body image issues and creative blocks. Many people also find that counselors can be a tremendous asset to managing personal growth, interpersonal relationships, family concerns, marriage issues, and the hassles of daily life. Therapists can provide a fresh perspective on a difficult problem or point you in the direction of a solution. The benefits you obtain from therapy depend on how well you use the process and put into practice what you learn. Some of the benefits available from therapy include:</p>
            <ul>
                <li>Attaining a better understanding of yourself, your goals and values</li>
                <li>Developing skills for improving your relationships</li>
                <li>Finding resolution to the issues or concerns that led you to seek therapy</li>
                <li>Learning new ways to cope with stress and anxiety</li>
                <li>Managing anger, grief, depression, and other emotional pressures</li>
                <li>Improving communications and listening skills</li>
                <li>Changing old behavior patterns and developing new ones</li>
                <li>Discovering new ways to solve problems in your family or marriage</li>
                <li>Improving your self-esteem and boosting self-confidence</li>
            </ul>
            <h3>What is counseling like?</h3>
            <br />
            <p>In some cases a combination of medication and therapy is the right course of action. Working with your medical doctor you can determine what's best for you. It is well established that the long-term solution to mental and emotional problems and the pain they cause cannot be solved solely by medication. Instead of just treating the symptom, therapy addresses the cause of our distress and the behavior patterns that curb our progress. You can best achieve sustainable growth and a greater sense of well-being with an integrative approach to wellness.</p>
            <ul>
                <li>Compassion, respect and understanding</li>
                <li>Perspectives to illuminate persistent patterns and negative feelings</li>
                <li>Real strategies for enacting positive change</li>
                <li>Effective and proven techniques along with practical guidance</li>
            </ul>
            <h3>Is medication a substitute for counseling?</h3>
            <br />
            <p>In some cases a combination of medication and therapy is the right course of action. Working with your medical doctor you can determine what's best for you. It is well established that the long-term solution to mental and emotional problems and the pain they cause cannot be solved solely by medication. Instead of just treating the symptom, therapy addresses the cause of our distress and the behavior patterns that curb our progress. You can best achieve sustainable growth and a greater sense of well-being with an integrative approach to wellness.</p>
            <br />
            <h3>Do you accept insurance? How does insurance work?</h3>
            <br />
            <p>To determine if you have mental health coverage, the first thing you should do is check with your insurance carrier. Check your coverage carefully and find the answers to the following questions:</p>
            <ul>
                <li>What are my mental health benefits?</li>
                <li>What is the coverage amount per therapy session?</li>
                <li>How many therapy sessions does my plan cover?</li>
                <li>How much does my insurance pay for an out-of-network provider?</li>
                <li>Is approval required from my primary care physician?</li>
            </ul>
            <h3>Is counseling confidential?</h3>
            <br />
            <p>In general, the law protects the confidentiality of all communications between a client and psychotherapist. No information is disclosed without prior written permission from the client.</p>
            <br />
            <h3>However, there are some exceptions required by law to this rule. Exceptions include:</h3>
            <ul>
                <li>Suspected child abuse or dependant adult or elder abuse. The therapist is required to report this to the appropriate authorities immediately.</li>
                <li>If a client is threatening serious bodily harm to another person. The therapist is required to notify the police.</li>
                <li>If a client intends to harm himself or herself. The therapist will make every effort to work with the individual to ensure their safety. However, if an individual does not cooperate, additional measures may need to be taken.</li>
            </ul>
        </div>
    </section>

</div>
