@{
    ViewBag.Title = "Thank You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="slideshow">
    @Html.Partial("_SlideShowPartial")
</section>

<div id="page-content">
    <section id="content">
        <div id="content-container">
            <h2>Thank You</h2>
            <br />
            <p>Your request for an appointment has been submitted.  You will get a email / phone call within 24 hours for appointment conformation and payment instructions.</p>
            <br />
            <p>Thank you for contacting www.Tao-of-T.com</p>
            <br />
            <p>Best Regards,</p>
            <br />
            <p>T</p>
        </div>
    </section>
</div>
