@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="services">
    <section id="header-image">
    </section>

    <section id="content">
        <div id="content-container">            
            <h2>Services Provided</h2>
            <br />
            <p>In this action packed, fast paced on-the-go world, counseling by phone, chat, email and video counseling just makes sense.  Individuals, couples and families who would prefer to be home than in another office, get consistent care regardless of your location, have access to your counselor when, where and how it fits your life!</p>
            <br />
            <h3>Counseling specialization include:</h3>
            <ul>
                <li>Depression and Anxiety Management</li>
                <li>Couples Counseling</li>
                <li>Family Counseling</li>
                <li>Parenting Support</li>
                <li>Grief Counseling</li>
                <li>Work and Career Strengthening</li>
                <li>Stree Management</li>
                <li>Conflict Resolution</li>
            </ul>
            <br />
            <p>I work with a wide range of emotional and behavioral issues providing services in a comfortable, supportive atmosphere and modality of your preference.  A highly personalized approach tailored to each of my clients individual needs to help attain the personal growth you’re striving for and deserve.</p>
        </div>
    </section>

</div>
