
<div>
    <div id="onmymind-img">
        <img src="~/images/page/onmymind.png" alt="What's on my mind" />
    </div>

    <div id="accordion"></div>
</div>

<script>
    $(document).ready(function () {

        $('#accordion').accordion({
            icons: false
        });

        var allcontent;
        $.ajax({
            type: "GET",
            url: "http://www.tao-of-t.com/onmymind_data.xml",
            dataType: "xml",
            success: function (xml) {

                $(xml).find('item').each(function () {
                    var id = $(this).attr('id');
                    var header = $(this).find('header').text();
                    var content = $(this).find('content').text();
                    if (typeof allcontent == 'undefined') {
                        allcontent = '<h3 id="' + id + '" class="accordion-h3"' + '>' + header + '</h3><div class="accordion-p">' + content + '</div>';
                    } else {
                        allcontent = allcontent + '<h3 id="' + id + '" class="accordion-h3"' + '> ' + header + '</b></h3><div class="accordion-p">' + content + '</div>';
                    }
                });
                if (typeof allcontent != 'undefined') {
                    $('#accordion').append(allcontent).accordion('destroy').accordion({ icons: false });
                }
            }
        });

        $("#accordion").removeClass('.ui-icon');
    });
</script>