<div class="box-border-shadow">    
    <div id="ei-slider" class="ei-slider">
        
        <ul class="ei-slider-large">
			<li>
                <img src="~/images/SlideShow/fog_london.png" alt="London Fog"/>
                <div class="ei-title">
                    <h2>Passionate</h2>
                    <h3>Seeker</h3>
                </div>
            </li>

			<li>
                <img src="~/images/SlideShow/love.png" alt="Love"/>
                <div class="ei-title">
                    <h2>Passionate</h2>
                    <h3>Love</h3>
                </div>
            </li>
			<li>
                <img src="~/images/SlideShow/love_never_fails.png" alt="Love Never Fails"/>
                <div class="ei-title">
                    <h2>Love Never Fails</h2>
                    <h3>Love</h3>
                </div>
            </li>
			<li>
                <img src="~/images/SlideShow/old_clock.png" alt="Old Clock"/>
                <div class="ei-title">
                    <h2>Time Counts</h2>
                    <h3>Time</h3>
                </div>
            </li>
			<li>
                <img src="~/images/SlideShow/old_water_canal.png" alt="Water Canal"/>
                <div class="ei-title">
                    <h2>Remember Good Times</h2>
                    <h3>Future Adventures</h3>
                </div>
            </li>
			<li>
                <img src="~/images/SlideShow/walking_the_dog.png" alt="Walking the Dog"/>
                <div class="ei-title">
                    <h2>Sharing your time</h2>
                    <h3>Share</h3>
                </div>
            </li>
			<li>
                <img src="~/images/SlideShow/water_fall.png" alt="Water Fall"/>
                <div class="ei-title">
                    <h2>Roll with the Flow</h2>
                    <h3>Rolling</h3>
                </div>
            </li>
        </ul><!-- ei-slider-large -->

        <ul class="ei-slider-thumbs">
            <li class="ei-slider-element">Current</li>
			<li><a href="#">Slide 1</a><img src="~/images/SlideShow/fog_london_thumb.png" alt="London Fog" /></li>
            <li><a href="#">Slide 2</a><img src="~/images/SlideShow/love_thumb.png" alt="Love" /></li>
            <li><a href="#">Slide 3</a><img src="~/images/SlideShow/love_never_fails_thumb.png" alt="Love" /></li>
            <li><a href="#">Slide 4</a><img src="~/images/SlideShow/old_clock_thumb.png" alt="Old Clock" /></li>
            <li><a href="#">Slide 5</a><img src="~/images/SlideShow/old_water_canal_thumb.png" alt="Water Canal" /></li>
            <li><a href="#">Slide 6</a><img src="~/images/SlideShow/walking_the_dog_thumb.png" alt="Walking Dog" /></li>
            <li><a href="#">Slide 7</a><img src="~/images/SlideShow/water_fall_thumb.png" alt="Water Fall" /></li>
        </ul><!-- ei-slider-thumbs -->
    </div><!-- ei-slider -->
</div>
 
    <script type="text/javascript">
        $(function () {
            $('#ei-slider').eislideshow({
                animation: 'center',
                autoplay: true,
                slideshow_interval: 3000,
                titlesFactor: 0
            });
        });

        $(document).ready(function () {

        });

    </script>