@bg-color: #d5d5d5;
@body-base-text: #525252;
@header-text: #625d5a;
@anchor-text: #1267C2;
@hover-text: #4BC514;
@text: #656565;
@frame-border: #87D27F;
@frame-container: #FFFFFF;

@gradient-light: #585858;
@gradient-dark: #cbcbcb;