@import "init";
@import "variables";
@import "colors";
@import "mixins";

body {
	margin-bottom: 0px;
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: @body-base-text;
	background: @bg-color;
	width: @base-width;
	height: @base-height;

	h2{
		font-size: @base-h2-size;
	}
}

a {
    color: @anchor-text;
    font-size: 10px;
	link
    {
        font-weight: bold;
    }
    &:hover {
	    color: @hover-text;
	    font-weight: bold;
	    border: thin none #FFFFFF;
    }
    &:visited {
	    font-weight: bold;
    }    
}

#left{
	width: 28%;
	height: 100%;
	float: left;
	section {
		color:@text;
		width: 100%;
		height: 99%;
		background-image: linear-gradient(bottom, rgb(183,183,183) 34%, rgb(240,241,239) 70%);
		background-image: -o-linear-gradient(bottom, rgb(183,183,183) 34%, rgb(240,241,239) 70%);
		background-image: -moz-linear-gradient(bottom, rgb(183,183,183) 34%, rgb(240,241,239) 70%);
		background-image: -webkit-linear-gradient(bottom, rgb(183,183,183) 34%, rgb(240,241,239) 70%);
		background-image: -ms-linear-gradient(bottom, rgb(183,183,183) 34%, rgb(240,241,239) 70%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.34, rgb(183,183,183)),
			color-stop(0.7, rgb(240,241,239))
		);
		border-bottom:3px solid @section-border;
		border-right: 3px solid @section-border;

		-webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.75);
		box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.75);
	
	}
}

.navigationmenu {
	font-size: 22px;
	font-color: @header-text;
	text-decoration: none;
}

#navigationmenu{
	ul{	
		width: 90%;
		margin:auto;		
		li { 
			margin-top: 5px;
			margin-bottom: 5px;								
		}
	}
}

#divider{
	background-color: @divider-color;
	width: 90%;
	height: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#logo {
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

.shadow{
		-webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.75);
		box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.75);
}

#right{
	width: 70%;
	height: 100%;
	float: right;
	margin-top: 10px;
    padding-left: 10px;
	
	nav{
		padding-top:1.5%;
		padding-bottom:1.5%;
		width: 100%;
		height: @base-menu-height;
		a{
			color: @header-text;
			font-size: 10pt;
			text-decoration: none;
		}
}

#content{
		background-image: linear-gradient(left , rgb(183,183,183) 0%, rgb(240,241,239) 70%);
		background-image: -o-linear-gradient(left , rgb(183,183,183) 0%, rgb(240,241,239) 70%);
		background-image: -moz-linear-gradient(left , rgb(183,183,183) 0%, rgb(240,241,239) 70%);
		background-image: -webkit-linear-gradient(left , rgb(183,183,183) 0%, rgb(240,241,239) 70%);
		background-image: -ms-linear-gradient(left , rgb(183,183,183) 0%, rgb(240,241,239) 70%);

		background-image: -webkit-gradient(
			linear,
			left top,
			right top,
			color-stop(0, rgb(183,183,183)),
			color-stop(0.7, rgb(240,241,239))
		);

		width: 100%;
		height: 50%;
		margin-top: 25px;
		font-size: @base-content-size;

		border-bottom:3px solid @section-border;
		border-right: 3px solid @section-border;

		-webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.75);
		box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.75);

		#content-container{
			padding: 20px;
		}
}

td, textarea, input, select {
	color: @text;
}

.tableDetail {
	color: #49394E;
}

.text1 {
	color: #1267C2;
}

.text2 {
	font-weight: bold;
	color: #1267C2;
}

.text3 {
	font-weight: bold;
	color: #1267C2;
	text-decoration: underline;
}

.frame {
	color: #87D27F;
	border: 1px solid #87D27F;
}

.text4 {
	font-weight: bold;
	color: #A7321A;
}

.designed_by {
	font-family: Arial;
	font-size: 8.5px;
	font-weight: lighter;
	color: #000000;
}

.text5 {
	color: #A7321A;
}

.text6 {
	font-weight: bold;
	color: #6F1D00;
	text-decoration: underline;
}

.text7 {
	font-weight: bold;
	color: #FFFFFF;
}
}


