@import "init";
@import "variables";
@import "colors";
@import "mixins";

body {
	margin-bottom: 0px;
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: @body-base-text;
	background: @bg-color;
	width: @base-width;
	height: 100%;

	h2{
		font-size: @base-h2-size;
		font-weight: bold;
	}

	h3{
		font-size: @base-h3-size;
		font-style: italic;
		font-weight:bold;
	}
}

a{
	.anchor-style;
	link{
		.anchor-link;
	}
	&:hover {
		.anchor-hoover;
	}
	&:visited {
		.anchor-visited;
	}    
}

#left{
	width: 28%;
	height: 90%;
	float: left;
	margin-top: @page-margin;
	color:@text;

	#left-top{
		height: @height-slider;
		.horizontal-gradient;
		.box-border-shadow;
	}	
}

.left-bottom {
	height: 100%;
	margin-top: @divider-height;
	.vertical-gradient;
	.box-border-shadow;
	overflow-y: auto;
}

#accordion{
	padding: 10px;
	h3{
		color: #000;
	}
	p{
		padding: 2px;
		font-size: 1.2em !important;
	}
}

#onmymind-img{
	padding: 5px;
}

footer{
	.footer-gradient;
	height: 8%;
	width: 100.5%;
	float: left;
	margin-top: @divider-height;
	margin-bottom: @page-margin;
	.box-border-shadow;

	nav{
		padding: 2%;
		width: 100%;
		height: @base-menu-height;
		a {
			color: @nav-text;
			font-size: 12pt;
			text-decoration: none;
			link
			{
				.anchor-link;
			}
			&:hover {
				color: @nav-hover-text;
			}
			&:visited {
				color: @nav-visted-text;
			}    
		}
	}
}

#navigationmenu{
	font-size: 24px;
	font-color: @header-text;
	text-decoration: none;

	ul{	
		width: 85%;
		margin:auto;
				
		li { 
			margin-top: 5px;
			margin-bottom: 5px;								
		}
	}
}

#divider{
	background-color: @divider-color;
	width: 90%;
	height: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: @divider-height;
}

#logo {
	margin-top: @divider-height;
	margin-left: auto;
	margin-right: auto;
}

#right{
	width: 70%;
	height: 100%;
	float: right;
	margin-top: @page-margin;
    padding-left: 10px;
	
	section{
		height:90%;
	}
}

#header-image{
	.box-border-shadow;
}

#slideshow{
	margin-bottom: 25px;
}

#page-content{
	.vertical-gradient;
	.box-border-shadow;
	min-height: @base-min-height;
	#content{
		.section-content-15;	
		#content-container{
			padding: @padding-default;
		}
		ul {
			padding: @padding-default;
			list-style-type: circle;
			li{
				font-size: @base-paragraph-size;
				a {
					.anchor-style;
					link{
						.anchor-link;
					}
					&:hover {
						.anchor-hoover;
					}
					&:visited {
						.anchor-visited;
					}    
				}
			}
		}
	}
}