@import "init";
@import "variables";
@import "colors";
@import "mixins";

body {
	margin-bottom: 0px;
	font-family: Verdana;
	font-size: 10px; 
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: @body-base-text;
	background: @bg-color;
	width: @base-width;
	height: 100%;

	h2{
		font-size: @base-h2-size; 
		font-weight: bold;
	}

	h3{
		font-size: @base-h3-size; 
		font-style: italic;
		font-weight:bold;
	}
}

#left{
	width: 28%;
	height: 90%;
	float: left;
	margin-top: @page-margin;
	color:@text;

	#left-top{
		height: @height-slider;
		.horizontal-gradient;
		.box-border-shadow;
	}	
}

.left-bottom {
	height: 100%;
	margin-top: @divider-height;
	.vertical-gradient;
	.box-border-shadow;
	overflow-y: auto;
}

.accordion-h3{
	font-size: 18px;
	font-weight: bold;
}

.accordion-p{
	font-size: 1.2em !important;
	padding: 10px;
	background: rgb(255, 255, 255) transparent; /* default fallback */
	background: rgba(255, 255, 255, 0.8); /* nice browsers */ 
}

#accordion{
	padding: 10px;
}

#onmymind-img{
	padding: 5px;
}

footer{
	.footer-gradient;
	height: 8%;
	width: 100.5%;
	float: left;
	margin-top: @divider-height;
	margin-bottom: @page-margin;
	.box-border-shadow;

	nav{
		padding: 2%;
		width: 100%;
		height: @base-menu-height;
		font-size: 14px; 
		a {
			color: @nav-text;
			text-decoration: none;
			link{
				.anchor-link;
			}
			&:hover {
				color: @nav-hover-text;
			}
			&:visited {
				color: @nav-visted-text;
			}    
		}
	}
}

#navigationmenu{
	font-size: 22px;
	color: @header-text;
	text-decoration: none;

	a{
		.anchor-style;
		link{
			.anchor-link;
		}
		&:hover {
			.anchor-hoover;
		}
		&:visited {
			.anchor-visited;
		}
	}    

	ul{	
		width: 85%;
		margin:auto;
				
		li { 
			margin-top: 5px;
			margin-bottom: 5px;								
		}
	}
}

#divider{
	background-color: @divider-color;
	width: 90%;
	height: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: @divider-height;
}

#logo {
	margin-top: @divider-height;
	margin-left: auto;
	margin-right: auto;
}
 
#right{
	width: 70%;
	height: 100%;
	float: right;
	margin-top: @page-margin;
    padding-left: 10px;
	
	section{
		height:90%;
	}
}

#header-image{
	.box-border-shadow;
}

#slideshow{
	margin-bottom: 25px;
}

#page-content{
	.vertical-gradient;
	.box-border-shadow;
	min-height: @base-min-height;
	font-size: @base-paragraph-size;
	a {
		.anchor-style;
		link{
			.anchor-link;
		}
		&:hover {
			.anchor-hoover;
		}
		&:visited {
			.anchor-visited;
		}    
	}
	
	#content{
		.section-content-15;	
		#content-container{
			padding: @padding-default;
		}
		ul {
			padding: @padding-default;
			list-style-type: circle;
			li{
				a {
					.anchor-style-10;
					link{
						.anchor-link;
					}
					&:hover {
						.anchor-hoover;
					}
					&:visited {
						.anchor-visited;
					}    
				}
			}
		}
	} 
}

.font-18 { font-size: 18px !important; }
.error{ color: red; }

.textarea{
	font-size: @base-paragraph-size;
	color: @body-base-text;
	width: 570px;
	height: 170px;
}

#Schedule{
	border-width: 0px;
	width: 81px;
	height: 50px;
	float: right;
}
